@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
}

.container {
  background: #ccc;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
